<ul class="sg-colors">
  {{#colors}}
  <li>
    <div class="sg-swatch {{ class }}" style="background: {{ hex }};">
      <p class="sg-label">{{ hex }}</p>
    </div>
  </li>
  {{/colors}}
</ul>