<!-- Begin .header -->
<header id="masthead" class="masthead">
  <div class="header">
    <div class="site-header">
      <div class="logo logo--strong-horizontal">
        {{> molecules-logo-link-horizontal }}
      </div>
      <div class="logo logo--standard">
        {{> molecules-logo-link }}
      </div>
      <div class="action-items">
        <div class="cta">
          {{> atoms-button-red }}
        </div>
        <div class="tabs-nav">
          {{> molecules-search-tab }} {{> molecules-menu-toggle-tab }}
        </div>
      </div>
    </div>
  </div>
  {{> molecules-site-title }}
</header>
<!-- End header -->