<!--begin .section-nav-->
<nav id="section-nav" class="section-nav">

  <ul class="section-nav__nav">

    {{# sectionNav }}
    <li class="section-nav__item">
      <a class="section-nav__link" href="{{ url }}">{{ label }}</a>
    </li>
    {{/ sectionNav }}

  </ul>
  <!--/end .section-nav__list-->

</nav>
<!--/end .section-nav-->