{{> organisms-header }} {{> molecules-hero }} {{> molecules-page-title }}
<div itemscope class="main-section">
  <div class="main-section__profile-details">
    {{> molecules-profile-photo }} {{> organisms-profile-meta }}
  </div>
  {{> molecules-section-nav }}
  <div class="main-section__faculty-bio main-section__main-content">
    {{> atoms-paragraph }}
  </div>
</div>